@define-color black         #000000;
@define-color violet        #9900cc;
@define-color telekom       #E2007A;
@define-color white         #ffffff;
@define-color pink          #F5A9B8;
@define-color bloodred      #651C32;
@define-color warningred    #cc0202;
@define-color lightred      #BF565A; 
@define-color green         #00ff55;
@define-color beige         #F5F5DC;


* {
    font-family: sans-serif;
    font-size: 14px;
    min-height: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

#waybar {
    background-color: @black;
    color: @white;
    border-radius: 0px;
    
}


button {
    box-shadow: none;
    /* Remove predefined box-shadow */
    text-shadow: none;
    /* Remove predefined text-shadow */
    background: none;
    /* Remove predefined background color (white) */
    transition: none;
    /* Disable predefined animations */
    border: none;
}

button:hover {
    box-shadow: none;
    /* Remove predefined box-shadow */
    text-shadow: none;
    /* Remove predefined text-shadow */
    background: none;
    /* Remove predefined background color (white) */
    transition: none;
    /* Disable predefined animations */
    border: none;
}

tooltip {
    padding: 0;
    margin: 0;
    background-color: @beige;
    color: @black;
    border-width: 0px;
    border-color: @violet;
    border-radius: 8px;
}

tooltip label {
    padding: 0;
    margin: 0;
    background-color: inherit;
    color: @black;
}

.modules-left {
    background-color: inherit;
    border-radius: 0;
}

.modules-center {
    background-color: inherit;
    border-radius: 0;
}

.modules-right {
    background-color: inherit;
    border-radius: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#workspaces,
#tags {
    margin: 0;
}

#workspaces button,
#tags button {
    border-radius: 4px;
    padding: 0 6px 0 6px;
    color: @pink;
    background-color: transparent;
}

#workspaces button:hover,
#tags button:hover {
    color: @white;
    background-color: @black;
}

#workspaces button.focused,
#tags button.focused {
    color: @base00;
    background-color: @telekom;
}

#workspaces button.urgent,
#tags button.urgent {
    color: @white;
    background-color: @warningred;
}

#window {
    padding: 0 4px 0 4px;
    color: @black;
}

#window.empty {
    padding: 0;
    background-color: transparent;
}

#taskbar {
    font-style: normal;
    font-weight: 500;
}

#taskbar button {
    padding: 0 5px 0 5px;
    border-radius: 6px;
    color: @violet;
    background-color: inherit;
}

#taskbar button:hover {
    color: @white;
    background-color: @violet;
}

#taskbar button.minimized {
    color: @beige;
    background-color: @beige;
}

#taskbar button.active {
    color: @white;
    background-color: @bloodred;
}

#clock,
#language,
#wireplumber,
#network,
#bluetooth,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#custom-keyboard,
#custom-wlsunset,
#tray {
    margin: 0 6px 0 6px;
    padding: 0;
    font-weight: 500;
}

#custom-launcher {
    padding: 0 6px 0 6px;
    color: @pink;
}

#clock,
#language,
#wireplumber,
#network,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#battery {
    color: @pink;
}

#leftWrapper {
    background-color: @black;
    color: @violet;
    border-radius: 6px;
}

#rightWrapper {
    background-color: @black;
    color: @pink;
    padding: 0 4px 0 4px;
    border-radius: 6px;
}

#wireplumber.muted,
#network.disconnected,
#temperarture.critical,
#battery.charging,
#battery.plugged {
    color: @green;
}



#tray {
    padding: 0 4px 0 4px;
    border-radius: 6px;
    background-color: @black;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}
